<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://code.alibabatech.com/schema/dubbo 
    http://code.alibabatech.com/schema/dubbo/dubbo.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">
   <import resource="spring-mybatis.xml" />
   <import resource="spring-services.xml" />
   <import resource="spring-weixin.xml" />
   <import resource="spring-redis.xml" />
   <import resource="spring-memcache.xml" />
   <import resource="spring-cache.xml" />
   <beans profile="develop">
        <context:property-placeholder location="classpath:/config/weixin.develop.properties,classpath:/config/jdbc.develop.properties,classpath:/config/redis.develop.properties,classpath:/config/memcache.develop.properties"/>
    </beans>
    <beans profile="production">
        <context:property-placeholder location="classpath:/config/weixin.production.properties,classpath:/config/jdbc.production.properties,classpath:/config/redis.production.properties,classpath:/config/memcache.production.properties"/>
    </beans>
    <beans profile="test">
        <context:property-placeholder location="classpath:/config/weixin.test.properties,classpath:/config/jdbc.test.properties,classpath:/config/redis.test.properties,classpath:/config/memcache.test.properties"/>
    </beans>
</beans>